<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>HD Test</title>

        <!-- Bootstrap core CSS -->
        <link href="http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <style>
            body {
                margin-top: 20px;
            }
            .post-meta {
                margin: -5px 0 20px 0;
                color: #999999;
            }
        </style>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <div id="models-list" class="list-group">
                        <h4 class="list-group-item-heading">Облако тегов</h4>
                        {% for tag in tags %}
                            <a href="/?tag={{ tag.name }}">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div><!--/span-->

                <div class="col-xs-12 col-sm-9">
                    {% block content %}
                    {% endblock %}
                </div><!--/span-->
            </div><!--/row-->
        </div><!--/.container-->
    </body>
</html>
